<form action="...REPLACE ME..." method="post">
  <!-- question: 235277  name: Jmeno otazky -->
  <div class="question">
    <h3>Jmeno otazky</h3>
    <p class="questiontext">Text otazky</p>
    <ul class="multichoice">
      <li>
        <input name="quest_235277" type="checkbox" value="Spravna odpoved" />
        <p>Spravna odpoved</p>
      </li>
      <li>
        <input name="quest_235277" type="checkbox" value="Spatna odpoved" />
        <p>Spravna odpoved</p>
      </li>
    </ul>
  </div>
  <p class="submit">
    <input type="submit" />
  </p>
</form>
